.App{
  background-color: black;
  background-color: black;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  
}

@media screen and (min-width: 550px) {

  .nav_mob{
    display: none;
  }

  .nav_items_web{
    text-decoration: none;
    margin: 0px;
    padding-top: 20px;
    font-size: 1.5rem;
    color:rgba(255, 255, 255, 0.8);;
    width: fit-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  
  .nav_web{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .more{
    color: white;
    font-size: 2rem;
    padding-top: 20px;
    padding-left: 30px;
  }

  .name{
    color: white;
    font-size: 5rem;
    font-weight: 100;
    position: relative;
    padding-left: 20vw;
    top: 30%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .name{
    animation-name:blink;
    width:280px;
    animation-duration:5s;
    animation-timing-function:ease-in;
    animation-iteration-count:Infinite;
  }

  @keyframes blink{
    0%{color:black;}
    50%{color:white;}
    100%{color:black;}
  }

  .under{
    max-height: 500px;
    position: relative;
    left: 800px;
    top: -100px;
  }
}

@media screen and (max-width: 549px) {
  .nav_items_web{
    display: none;
  }
  .nav_items_mob{
  }
  
  .nav_mob{
  }
}


